################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/Demo1/v16
/Demo1.sln
/Demo1.csproj
.vs 
*.log